includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    tmpDir: tmp

    paths:
        - app

    # The level 9 is the highest level
    level: 9

    excludePaths:
        - app/Http/Controllers/Swagger/*

    ignoreErrors:
        - '#^Parameter \#1 \$value of static method Illuminate\\Support\\Facades\\Hash:\:make\(\) expects string, mixed given.#'

